# App Middlewares
CORS=""
BODY_LIMIT_SIZE=5mb

# Mongo
MONGO_USERNAME=root
MONGO_PASSWORD=rootpass
MONGO_URL=swagger-stats-mongo:27017
MONGO_DB=swagger-stats

# Npm
NPM_PUBLISH_REPOSITORY=https://nexus.nos.co/repository/npm/
NPM_PUBLISH_NAMESPACE=@swagger-stats

# Dev Container
COMPOSE_PROJECT_NAME=swagger-stats